@import url(//fonts.googleapis.com/css?family=Muli);

body {
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif;
}

p {
    line-height: 0.5;
}

a {
    color:#12c064;
    text-decoration:none;
}
hr {
   border-top: 0.1px solid #fffad5;
}

h1, h2, h3, h4, h5 , h6 { font-family: 'Muli', sans-serif; font-weight:normal; }

h1 {
    border-bottom:1px solid #bbb;
    padding:0 0 10px 0;
    margin:10px 0 20px 0;
}

h2 {
    margin:30px 0 20px;
}

ol {
    line-height:1.5;
}

.container { 
   background-color: indigo; 
   display: flex; 
   width: 100%;
   flex-flow: row wrap;
}
.item {
   display: flex;
}

header {
   background-color: #105b63; 
   min-height: 3rem;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-weight: bold;
   font-size: xx-large;
   color:#bbb;
   min-width: 100%;
   position: fixed;
   padding: 1rem;
} 
main {
   background-color: #fffad5; 
   color: #333;
   flex: 1 0 auto ;
   width: 58.67%;
   min-height: 35rem;
   padding: 6rem 1rem;
   border: 6px solid rebeccapurple;
} 
aside { 
   color: #222;
   flex: 0 0 auto;
   width:31.67%;
   flex-direction: column;
   padding: 6rem 1rem;
}
footer {
   background-color: #34005b; 
   flex: 1 0 100%;
   min-height: 10rem;
   padding: 1rem;
}
.boxes{
   display: flex;
   flex-flow: row wrap;
   width: 100%;
}
.box{
   background-color: #34005b;
   display: flex;
   flex: 1 0 20%;
   max-height: 15rem;
   max-width: 15%;
   align-items: center;
   justify-content: center;
   font-size: x-large;
   color:#00a74f;
   margin-left: 1rem;
   border-radius:5%
}
.box:hover {
   color:red;
   font-size: xx-large;
   background-color: #6b06b8;
}
.date{
   font-size: small;
   color:#bbb;
}
.hot-date {
   font-size: small;
   color:#fffad5;
}
.hot-item{
   display: flex; 
   flex-direction: column;
   padding: 0.3rem 0.3rem;
   margin-bottom: 0.2rem;
   background-color: rgb(88, 4, 148);
}
.hot-dislike i {
   color: red;
}
.hot-like i {
   color: #026c34;
}
aside h2{
   text-align: center;
   color:red;
}
.hot-emotion{
   font-size: x-small;
   color: #bbb;
}
/* .detail-body{
   display: flex;
   flex-flow: column wrap;
   min-height: auto;
   line-height: 40rem;
}
.post_detail{
   display: flex;
   flex-direction: column;
} */
.feedback{
   display: flex;
   flex-direction: row;
   margin-top: 6%;
   padding: 3rem 3rem;
}
.like-icon:hover{
   color: #026c34;
}
.like-icon,
.dislike-icon{
   color:#12c064;
}
.dislike-icon:hover{
   color: red;
}
#button-like{
   display: inline-flex;
   padding: 0 1rem;
}
#button-dislike{
   display: inline-flex;
   padding: 0 0.4rem;
}
.feedback-text{
   display: inline-flex;
   padding:0.7rem;
   color:gray
}
.detail-title{
   color:#12c064;
}
pre {
   background: #333;
   white-space: pre;
   word-wrap: break-word;
   overflow: auto;
}

pre code {
   font-family: "Inconsolata","Monaco","Consolas","Andale Mono","Bitstream Vera Sans Mono","Courier New",Courier,monospace;
   display: block;
   margin: 0 0 0 60px;
   padding: 15px 16px 14px;
   border-left: 1px solid #555;
   overflow-x: auto;
   font-size: 13px;
   line-height: 19px;
   color: #ddd;
}
code.language-javascript {
   color: #ffa726;
}
code.language-python {
   color: #4dd0e1;
}
.footer{
   display: flex;
   min-width: 90%;
   flex-flow: row wrap;
   justify-content: space-between;
}
.footer-item h3{
   color:red;
}
.footer-item{
   display: flex;
   flex-flow: column wrap;
   max-width: 400px;
   color: rgb(214, 206, 206)
}
.footer-item ul{
   display: flex;
   flex-flow: column wrap;
   list-style-type: none;
   margin: 0;
   padding: 0;
   max-height: 10rem;
}
.footer-item ul li{
   margin: 10px 0;
 }
.check-me {
   font-family: "Avenir Next", sans-serif;
   font-weight: 900;
   font-size: 30px;
   background-image: linear-gradient(red, white, purple);
   text-transform: uppercase;
   color:#34005b;
   font-style: italic;
   letter-spacing: 0.05em;
   display: inline-block;
 }
 .check-me:hover{
   color:red;
 }
 .tag{
   font-size: x-small;
   color: #bbb;
}