<div class="footer-item footer-1">
  <h3>About <span class="trickstips">MyTricksnTips</span></h3>
  <p>
    <span class="trickstips">MyTricksnTips</span> provides you with useful
    <b>Tricks</b> and <b>Tips</b>
  </p>
  <p>to help you up-to-date with the latest technologies.</p>
  <p>All Tricks and Tips are simple, easy-to-follow and</p>
  <p>practical.</p>
</div>
<div class="footer-item footer-2">
  <h3>Categories</h3>
  <ul>
    {% for cat in cats %}
    <li>
      <a href="{% url 'blogs:post_cat_view' cat.slug %}">{{ cat.name }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
<div class="footer-item footer-3">
  <h3>About Me</h3>
  <p>Want to know more about me?</p>
  <div class="footer-media">
    <div class="media linkedin">
      <a
        href="https://www.linkedin.com/in/eyong-enowanyo/"
        target="_blank"
        class="media-icon"
      >
        <i class="fa fa-linkedin fa-2x"></i>
      </a>
    </div>
    <div class="media github">
      <a
        href="https://github.com/Eyongkevin/"
        target="_blank"
        class="media-icon"
      >
        <i class="fa fa-github fa-2x"></i>
      </a>
    </div>
    <div class="media stackoverflow">
      <a
        href="https://stackoverflow.com/users/8665639/eyong-kevin-enowanyo/"
        target="_blank"
        class="media-icon"
      >
        <i class="fa fa-stack-overflow fa-2x"></i>
      </a>
    </div>
    <div class="media medium">
      <a
        href="https://medium.com/@tonyparkerkenz/"
        target="_blank"
        class="media-icon"
      >
        <i class="fa fa-medium fa-2x"></i>
      </a>
    </div>
  </div>
  <p class="issue-report">
    Found any issue? Email me at: mtt.issue.contact@gmail.com
  </p>
</div>
<div class="footer-item footer-4">
  <div class="footer-4-1"></div>
  <div class="footer-4-1 footer-right"></div>
  <div class="footer-4-1"></div>
</div>
<div class="footer-5">
  &#169; 2022 -
  <script>
    document.write(new Date().getFullYear());
  </script>
  | All Rights Reserved. Designed & Developed With
  <i class="fa fa-heart fa-lg"></i> By Yours Truly
</div>
