{% extends 'base.html' %}

<!---->
{% block title %}Tricks&Tips{% endblock title %}

<!---->

{% block content %}
  <main class="item main-content">
    <div class="boxes">
      {% for tag in tags %} 
      <a class="box" href= {% url 'blogs:post_tag_view' tag.slug %}>
            {{ tag.name }}
      </a>
      {% empty %}
      <div class="no-posts">No Posts</div>
      {% endfor %}
    </div>
  </main>
  <aside class="item">
   <h2>Hot Ticks&Tips</h2>
   {% for hot_post in hot_posts %}
      {% include "includes/hot_posts.html" with post=hot_post %}
   {% empty%}
   <div class="no-hot-posts">No Hot Posts</div>
   {% endfor %}
  </aside>
{% endblock content %}
