{% extends 'base.html' %}
<!---->
{% block title %}yTricksnTips{% endblock title %}

<!---->

{% block content %}
    <div class="boxes">
      {% for cat in cat_post_cnt %} 
      <a class="box" href= {% url 'blogs:post_cat_view' cat.slug %}>
            <div class="post-count">{{cat.post_count }} post{{cat.post_count|pluralize }}</div>
            <div class="cat-name">{{ cat.name }}</div>
      </a>
      {% empty %}
      <div class="no-posts">No Posts</div>
      {% endfor %}
    </div>
 
{% endblock content %}
