{% extends "base.html" %}
<!---->
{% load model_funcs %}
<!---->
{% block title %}yTricksnTips{% endblock %}

<!---->
{% block content %}
<div class="post-lists">
  {% for post in posts %}
  <div class="post-item">
    <h3>
      <a href="{{ post|get_absolute_url:post.category.slug }}">
        {{ post.title}}
      </a>
      <br />
    </h3>
    {% include "includes/post_info.html" with post=post %}
    <!--<p>Tags: {{ post.tags.all|join:', '}}</p> -->
    <div class="post-list-body">
      {{ post.body|safe|truncatewords_html:15|linebreaks}}
    </div>
  </div>
  {% endfor %}

  <!-- ListView pass pagination pages as 'page_obj' but for a 
         FBV, we will use the page object that was created-->
  {% include "pagination.html" with page=posts %}
</div>
{% endblock %}
