{% extends "base.html" %} {% load static %} {% load core_tags %}
<!---->
{% block title %}Tricks&Tips{% endblock%}

<!---->
{% block content %}
<main class="item main-content">
  <div class="post_detail">
    <h1 class="detail-title">{{ post.title }}</h1>
    <p class="date">
      Published {{ post.published_date|date_since}} by {{ post.author }}
    </p>
    {% include "includes/tags.html" with tags=post.tags %}
    <!---->
    {% include "includes/like_dislike.html" with post=post %}
    <div class="detail-body">{{post.body|safe|linebreaks}}</div>
    <div class="feedback">
      <span class="feedback-text">Did you find this helpful?</span>
      <div id="button-like" class="like-icon">
        <i class="fa fa-thumbs-up fa-2x"></i>
      </div>
      <span>&nbsp</span>
      <div id="button-dislike" class="dislike-icon">
        <i class="fa fa-thumbs-down fa-2x"></i>
      </div>
    </div>
  </div>
</main>
<aside class="item">
  <h2>Related Ticks&Tips</h2>
  {% for post in related_posts %}
  <!---->
  {% include "includes/related_posts.html" with post=post %}
  <!---->
  {% empty%}
  <div class="no-hot-posts">No Related Posts</div>
  {% endfor %}
  <h2>Hot Ticks&Tips</h2>
  {% for hot_post in hot_posts %}
  <!---->
  {% include "includes/hot_posts.html" with post=hot_post %}
  <!---->
  {% empty%}
  <div class="no-hot-posts">No Hot Posts</div>
  {% endfor %}
</aside>
{% endblock %}
