{% extends "base.html" %} {% block title %}Tricks&Tips{% endblock%}

<!---->
{% block content %}
<main class="item main-content">
  <div class="post_lists">
    {% for post in posts %}
    <h2>
      <a href="{{post.get_absolute_url}}"> {{ post.title}} </a>
      <br />
    </h2>
    <p class="date">Published {{ post.published_date}} by {{ post.author}}</p>

    <!--<p>Tags: {{ post.tags.all|join:', '}}</p> -->
    {{ post.body|truncatewords:20|linebreaks}} {% endfor %}
    <!-- ListView pass pagination pages as 'page_obj' but for a 
         FBV, we will use the page object that was created-->
    {% include "pagination.html" with page=posts %}
  </div>
</main>
<aside class="item">
  <h2>Hot Ticks&Tips</h2>
  {% for hot_post in hot_posts %}
  <!---->
  {% include "includes/hot_posts.html" with post=hot_post %}
  <!---->
  {% empty%}
  <div class="no-hot-posts">No Hot Posts</div>
  {% endfor %}
</aside>
{% endblock %}
