{% load static %}
{% load core_tags %} 
{% load_objects all from category.Category as cats %}
{% load_objects like.most_liked_posts from like.Like as hot_posts %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset ="utf-8" />
    <title>{% block title %}{% endblock%}</title>
    <link rel="icon" href="{% static "image/logo.ico" %}" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link type="text/css" href="{% static "css/main.css" %}" rel="stylesheet">
    <link
      type="text/css"
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
      crossorigin="anonymous"
    />
    <link 
      rel="stylesheet" 
      href="https://fonts.cdnfonts.com/css/glacial-indifference-2" 
      integrity="sha384-iLEPH5Fj61cj0YH2d9obRVOJ/Yf9Hvm4HcrqUSN0y5PAbfaOpDbk2QgfXxoVjKK2" 
      crossorigin="anonymous">
    <script 
      type='text/javascript' 
      src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'
      integrity="sha384-fj9YEHKNa/e0CNquG4NcocjoyMATYo1k2Ff5wGB42C/9AwOlJjDoySPtNJalccfI" 
      crossorigin="anonymous"></script>
    <script src="{% static "js/main.js" %}"></script>
    <link href="{% static 'django_ckeditor_5/dist/styles.css' %}" type="text/css" media="all" rel="stylesheet">
    <script src="{% static 'django_ckeditor_5/dist/bundle.js' %}"></script>
  </head>
  <body>
    {% csrf_token %}
      <div class="container">
        <header class="item main-header">
          <div class="item-head logo-title">
            <a href="/"><img class="mtt-logo" src="{% static 'image/logo.png' %}" alt='logo' /><span class="item-head-text"><span class="item-head-text-y">y</span>TricksnTips</span></a>
          </div>
          <div class="item-head item-head-tree">
            {% if cat %}>
              {% if post %}
                <a href= {% url 'blogs:post_cat_view' cat.slug %}>
                  {{ cat.slug }}
                </a>
              {% else %}
                <span>{{cat.slug}}</span>
              {% endif %}
            {% endif %} {% if post %}>
            <span>{{post.slug}}</span>
            {% endif %}
          </div>
          <div class="item-head hide-show-search">
            <input class="search-btn" type="submit" value="Search" />
          </div>
          <div class="item-head item-search active">
            {% include 'includes/search.html' %}
          </div>
        </header>
        <aside class="item left-aside"></aside>
        <main class="item main-content">
          {% block content %} {% endblock %}
        </main>
        <aside class="item right-aside">
          {% block related_post %}{% endblock related_post %}
          <div class="aside-item">
            <h2>Hot <span class="trickstips">TicksnTips</span></h2>
            <hr />
            {% for hot_post in hot_posts %}
                {% include "includes/hot_posts.html" with post=hot_post %}
            {% empty%}
              <div class="no-hot-posts">No Hot Posts</div>
            {% endfor %}
          </div>
        </aside>
        <footer class="item">
          {% include 'includes/footer.html' with cats=cats %}
        </footer>
      </div>
  </body>
</html>
