{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock%}</title>
    <link href="{% static "css/main.css" %}" rel="stylesheet">
  </head>
  <body>
    <div id="content">
      <div class="container">
        <header class="item main-header">
          <a href="/">Tricks&Tips</a>
          {% if tag %}>
          <span>{{tag.name}}</span>
          {% endif %} {% if post %}>
          <span>{{post.slug}}</span>
          {% endif %}
        </header>
        {% block content %} {% endblock %}
        <footer class="item">Footer</footer>
      </div>
    </div>
  </body>
</html>
