{% load static %}
{% load core_tags %} 
{% load_objects all from category.Category as cats %}
{% load_objects like.most_liked_posts from like.Like as hot_posts %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset ="utf-8" />
    <title>{% block title %}{% endblock%}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link type="text/css" href="{% static "css/main.css" %}" rel="stylesheet">
    <link
      type="text/css"
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
    <script src="{% static "js/main.js" %}"></script>
  </head>
  <body>
    {% csrf_token %}
      <div class="container">
        <header class="item main-header">
          <div class="item-head">
            <a href="/">TT <span class="item-head-text">Tricks&Tips</span></a>
            <span class="item-head-tree">
              {% if cat %}>
                {% if post %}
                  <a href= {% url 'blogs:post_cat_view' cat.slug %}>
                    {{ cat.slug }}
                  </a>
                {% else %}
                  <span>{{cat.slug}}</span>
                {% endif %}
              {% endif %} {% if post %}>
              <span>{{post.slug}}</span>
              {% endif %}
            </span>
          </div>
          <div class="item-search">
            <form method="get" class="nosubmit">
              {{form.as_table }}
              <input class="nosubmit" type="submit" value="Search">
           </form>
          </div>
        </header>
        <aside class="item left-aside"></aside>
        <main class="item main-content">
          {% block content %} {% endblock %}
        </main>
        <aside class="item right-aside">
          {% block related_post %}{% endblock related_post %}
          <div class="aside-item">
            <h2>Hot <span class="trickstips">Ticks&Tips</span></h2>
            <hr />
            {% for hot_post in hot_posts %}
                {% include "includes/hot_posts.html" with post=hot_post %}
            {% empty%}
              <div class="no-hot-posts">No Hot Posts</div>
            {% endfor %}
          </div>
        </aside>
        <footer class="item">
          {% include 'includes/footer.html' with cats=cats %}
        </footer>
      </div>
  </body>
</html>
